{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-3">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <div class="d-flex justify-content-between">
                <a href="{% url 'catalog:prod_detail' object.pk %}" class="btn btn-secondary">Отмена</a>
                <button type="submit" class="btn btn-primary">
                    Сохранить изменения
                </button>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}